//pertenece al modal
.btn{
    padding: 2% 5%;
    width: 9vw;
    justify-content: center;
}

.Cancelar{
    background-color: rgba(218, 96, 96, 1);
}

.modal-footer{
    justify-content: space-between;
    border: none;
    padding: 4%  15% 8%;
}

.modal-body{
    padding: 0% 12% ;
}

.modal-header{
    justify-content: center;
    border: none;
}

#nombre{
    background: rgb(238, 238, 238);
    border: none;
    border-radius: 20px;
}

.input{
    padding-bottom: 9%;
}

button{
    background-color: rgba(69, 102, 153, 1);
    color: white;
    padding: 0.8% 2%;
    border: none;
    border-radius: 20px;
    display: inline-flex;
    gap:15%
}


